<article class="  col-md-9 clearfix" > 
  <div class="text-center">
      <h2>Sign up</h2>
  </div>
  <div class="row login" id="pwd-container">

      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <section class="login-form">
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
         <%= devise_error_messages! %>
            <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />
              <div class="field">
              <br>
                <%= f.email_field :email, autofocus: true , class:"form-control input-lg" , placeholder:"Email"%>
              </div>
              <div class="form-group">
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class:"form-control input-lg", placeholder:"Password"%>
              </div>
              <div class="form-group">
                <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control input-lg", placeholder:"Password confirmation" %>
              </div>
             <% if devise_mapping.rememberable? -%>
              <div class="form-group col-xs-12 text-left">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            <div class="pwstrength_viewport_progress"></div>
              <%= f.submit "Sign up",  class:"btn btn-primary btn-block" %>
          <% end %>
           <div class="actions">
            <%= render "devise/shared/links" %>
          </div>
        </section>  
      </div>
   </div>
  </article>

  