<%= form_for(@user) do |f| %>
 <div class="row">
   <div class="col-xs-12">
     <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     
     <table class="table table-striped ">
        <thead>
          <th width="35%" class="text-center"> <%= f.label :email %></th>
          <th width="35%" class="text-center">  <%= f.label :permission_level %><br></th>
          <th width="30%" class="text-center">Actions</th>
        </thead>
        <tbody>
          <td class="text-center"> 
            <div class="field">
              <%= f.text_field :email %>
            </div>
          </td>
          <td class="text-center">
            <div class="field">
             <%= f.color_field :permission_level %>
            </div>
          </td>
          <td class="text-center">
            <div class="  ">
              <%= f.submit class:"btn btn-primary" %>
            </div>
          </td>
        </tbody>

      </table>
   </div>
 </div>
 

<% end %>
